:root {
  --main-font: "Roboto", sans-serif;
  --secondery-font: "Raleway", sans-serif;
  --acsent-color: #2196f3;
  --wait-color: #ffffff;
  --text-gray: #757575;
  --color-names: #212121;
  --color-shadow:box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
}
.link {
  text-decoration: none;
}
.page {
  color: var(--text-gray);
  font-family: var(--main-font);
  margin: 0;
}

/*index.html*/

/*----- header -------*/
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top:  24px;
  padding-bottom:  25px;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.menu-aitom:not(:last-child) {
  margin-right: 50px;
}
.auth-nav {
  margin-left:auto;
}
.mil-link {
  margin-right: 50px;
}
.logo {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 92px;
}

.web {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-names);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--acsent-color);
}

.mil-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-gray);
}

.mil-link:hover,
.mil-link:focus {
  color: var(--acsent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--acsent-color);
}

/*----- header -------*/

/*-----Эффект риш ----*/
.herov-conteiner {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
}
.hero-section {
  background-color: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url("../images/overlay/overlay-bg1.png"),url("../images/overlay/overlay-Img.jpg"),url("../images/overlay/overlay-Img.png");
  background-position: center;
}

.hero-taitl {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--wait-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--wait-color);
   background: #0e83e2;
}
.btn-conte {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #2196F3;
  color:var(--wait-color);
}

/*-----Эффект риш ----*/

/*----Описаниу---*/
.list-conteiner {
  display: flex;
  justify-content: space-between;
}
.hero-conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-li{
  box-sizing: border-box;
  width: 270px;
  Height:75px;
}
.list-itom::before {
display:block;
content: "";
height: 120px;
background-size:70px 70px;
background-repeat: no-repeat;
background-position: 50% 50% ;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
margin-right: 30px;
}
.list-antena::before{
background-image: url(../images/itoms/itoms-antenna.png);
}
.list-clokc::before{
  background-image: url(../images/itoms/itoms-clock.png);
}
.list-diagram::before{
background-image: url(../images/itoms/itoms-diagram.png);
}
.list-astron::before{
background-image:url(../images/itoms/itoms-astronaut.png)
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-gray);
  margin-right: 30px;
}
.list-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-names);
  margin-bottom: 10px;
  margin-right: 30px;
}
/*----Описаниу---*/
/*----Занятияе---*/

.picture-contein {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

}
.contein:not(:last-child) {
  margin-right: 30px;
}
.picture-title {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-names);
   margin-bottom: 50px; 
  
}
.picture-con{
  
padding-bottom: 94px;
}

/*----Занятя---*/

/*----Наша команда---*/
.div-conteiners {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
  height: 648px;
}

.img{
  display: block;
  max-width: 100%;
  height: auto;
  
}
img-cart {
  outline: 1px solid var(--color-shadow)

}
.list-cart {
  padding-top: 30px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 30px;
  
}
.cart {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.picture-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  
}
.img-contein {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.names-list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-names);
  margin-bottom: 10px;
}

.profession-list {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-gray);
}

/*----Наша команда---*/

/*----Подвал---*/

.footer-color {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}


.logo-footer {
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
   margin-bottom: 20px;

}

.address {
  width: 231px;
  height: 21px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  margin-bottom: 9px;
 
}

.footer-link {
  width: 231px;
  height: 21px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
   display: flex;
 
}

/*----Подвал---*/

/*index.html*/

/*portfolio.html*/
.picture-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
 .portfolio-conte {
   padding-bottom: 94px;
   padding-top: 94px;
   
 }
.img-conteiner {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.list-carts {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.btn-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-cont:not(:last-child) {
  display: flex;
  margin-right: 8px;
}
.header-border{
  border-bottom: 1px solid #ECECEC;
}
.btn {
  cursor: pointer;

}
 .button {
   position: absolute;
}
.btn-tit{
 display: none
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--color-names);
    background: #F5F4FA;
   border-radius: 4px;
   padding: 6px 22px 6px 22px;
   display: flex;
  border-radius: 4px
   
}

.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.portfolio-list {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.descrip {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-gray);
}
/*---portfolio-подвал ------ */
